<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>NCI Registration Portal</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-validator/dist/validator.js"></script>
    <script src="/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body onload="load()">
    <div class="container-fluid">
        <div class="row top-20">
            <div class="col-sm-2">
                <h3>ADMIN PORTAL</h3>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <a href="/">
                    <img class="img-responsive" src="/images/nci-logo-full.svg" alt="National Cancer Institute"></a>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h3>ADMIN PORTAL</h3>
            </div>
        </div>
        <% if (typeof alert !== 'undefined' && alert !== null) { %>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="alert <%=alert.severity_class%> alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                        <strong><%=alert.message%></strong>
                    </div>
                </div>
            </div>
            <%}%>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 main-content">
                        <div class="row">
                            <div>
                                <form class="form-inline" action="/apps/search" method="post" data-toggle="validator">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="App name">
                                        <!-- <div class="help-block with-errors"></div> -->
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#appModal" data-app="" data-description=""
                                        data-id="" data-backdrop="static" data-keyboard="false">New App</button>
                                </form>
                            </div>
                            <!-- Modal New/Edit app form -->
                            <div class="modal fade" id="appModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/apps/app/addorupdate" method="post" data-toggle="validator">
                                                <input type="hidden" name="appId" id="appId">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" id="name" name="name" data-error="App name is required." required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea class="form-control" rows="6" id="description" name="description"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="roleModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/apps/app/roles/add" method="post" data-toggle="validator">
                                                <input type="hidden" name="appId" id="appId">
                                                <div class="form-group">
                                                    <label for="roleName">Role Name</label>
                                                    <input type="text" class="form-control" id="roleName" name="roleName" data-error="Role name is required." required>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="confirm-remove" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Confirmation Requested</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5 id="confirmation-text" name="confirmation-text">Click OK to confirm removal.</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (apps.length > 0) {  var numApps = apps.length; %>
                            <div class="row">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <% for(var i=0; i < numApps; i++) { var app = apps[i];  %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading<%=i%>">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseElem<%=i%>" aria-controls="collapse<%=i%>"
                                                        aria-expanded=<% if (numApps===1 ) { %>"true"<%} else {%>"false"<%}%> >
                                            <%=app.name%>
                                        </a>
                                                </h4>
                                            </div>
                                            <div id="collapseElem<%=i%>" class="panel-collapse collapse <% if (numApps === 1) { %>in<%}%>" role="tabpanel" aria-labelledby="heading<%=i%>">
                                                <div class="panel-body">
                                                    <p>
                                                        <% if (app.description) {%>
                                                            Description:
                                                            <%=app.description%>
                                                                <%}%>
                                                    </p>
                                                    <p>
                                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#roleModal" data-id="<%=app._id%>"
                                                            data-backdrop="static" data-keyboard="false">Add Role</button>
                                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#appModal" data-app="<%=app.name%>"
                                                            data-description="<%=app.description%>" data-id="<%=app._id%>">Edit App Information</button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-href="/apps/app/<%=app._id%>/remove" data-toggle="modal" data-target="#confirm-remove"
                                                            data-confirmation-text="Are you sure that you want to remove application <%=app.name%>?"
                                                            data-backdrop="static" data-keyboard="false">Remove Application</button>
                                                    </p>
                                                    <hr>
                                                       <h5>Roles:</h5>
                                                    <% for (var r = 0; r < app.roles.length; r++) { 
                                                var role = app.roles[r]; 
                                                var groups = role.groups;
                                                var numGroups = groups.length;
                                                %>
                                                    
                                                     <div class="boxed">
                                                         
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th width="45%">
                                                                        <%=role.role_name%>
                                                                    </th>
                                                                    <th width="10%">
                                                                        <button type="button" class="btn btn-danger btn-xs" data-href="/apps/app/<%=app._id%>/roles/role/<%=role.role_id%>/remove"
                                                                            data-toggle="modal" data-target="#confirm-remove"
                                                                            data-confirmation-text="Are you sure that you want to remove <strong>role <%=role.role_name%></strong> and all of its groups?">&times;</button>
                                                                    </th>
                                                                    <th widt="45%">
                                                                        
                                                                    </th>
                                                                    <a name="<%=app._id%>_<%=role.role_id%>"></a>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%  
                                                        
                                                    for (var g=0; g < numGroups; g++) { 
                                                        var group = groups[g];   
                                                    %>
                                                                    <tr>
                                                                        <td>
                                                                            <%=group%>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-danger btn-xs" data-href="/apps/app/<%=app._id%>/roles/<%=role.role_id%>/removeGroup/<%=group%>"
                                                                                data-toggle="modal" data-target="#confirm-remove"
                                                                                data-confirmation-text="Are you sure that you want to remove group <%=group%> from role <%=role.role_name%>?">&times;</button>
                                                                        </td>
                                                                    </tr>
                                                                    <%}%>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>
                                                                                <form action="/apps/app/<%=app._id%>/roles/<%=role.role_id%>/addGroup" method="post" data-toggle="validator">
                                                                                    <div id="groupInput">
                                                                                        <div class="form-group">
                                                                                            <label for="group">DN</label>
                                                                                            <input type="text" class="typeahead form-control" id="group" name="group" placeholder="Group DN for <%=role.role_name%> access"
                                                                                                data-error="Group DN is required."
                                                                                                required>
                                                                                        </div>
                                                                                        <button type="submit" class="btn btn-default" style="float: right;">Add</button>
                                                                                        <div class="help-block with-errors"></div>
                                                                                    </div>
                                                                                </form>
                                                                            </td>
                                                                        </tr>
                                                            </tbody>
                                                        </table>
                                                     </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>
    </div>
    <script>
        var groups = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: location.protocol + '//' + location.host + '/apps/getAllGroups',
                cache: false,
                cacheKey: groups,
                transform: function (response) {
                    return $.map(response, function (groupObj) {
                        return groupObj.dn;
                    });
                }
            }
        });

        $('#groupInput .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            name: 'groups',
            source: groups,
            limit: 8
        });

        $('#appModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var appName = button.data('app')
            var appId = button.data('id');
            var appDescription = button.data('description');

            var modal = $(this)
            var title = appName ? 'Edit Application ' + appName : 'New Application';
            modal.find('.modal-title').text(title)
            modal.find('.modal-body #name').val(appName)
            modal.find('.modal-body #appId').val(appId)
            modal.find('.modal-body #description').val(appDescription)
        });

        $('#roleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var appId = button.data('id');

            var modal = $(this)
            var title = 'Add Role';
            modal.find('.modal-title').text(title)
            modal.find('.modal-body #appId').val(appId)
        });

        $('#confirm-remove').on('show.bs.modal', function (event) {
            var modal = $(this);
            var button = $(event.relatedTarget);
            modal.find('.modal-body #confirmation-text').text(button.data('confirmation-text'));
            modal.find('.btn-ok').attr('href', $(event.relatedTarget).data('href'));
        });

        function load() {
            var anchor = <%- JSON.stringify(anchor) %>;
            window.location.hash = 'someHashThatDoesntExist';
            window.location.hash = anchor;
        }
    </script>
</body>

</html>