<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>NCI Registration Portal</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-validator/dist/validator.js"></script>
    <script src="/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container-fluid">
        <div class="row top-20">
            <div class="col-sm-2">
                <h3>ADMIN PORTAL</h3>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <a href="/">
                    <img class="img-responsive" src="/images/nci-logo-full.svg" alt="National Cancer Institute"></a>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h3>ADMIN PORTAL</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 side-panel">
                Pending Approval:
                <%=stats.pendingApprovalCount%>
            </div>
            <div class="col-sm-8 main-content">
                <% if (typeof alert !== 'undefined' && alert !== null) { %>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="alert <%=alert.severity_class%> alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                                <strong><%=alert.message%></strong>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <div class="row">
                            <div>
                                <form class="form-inline" action="/requests/search" method="post" data-toggle="validator">
                                    <div class="form-group">
                                        <label for="query">Request Search</label>
                                        <input type="text" class="form-control" id="query" name="query">
                                    </div>
                                    <div class="form-group">
                                        <fieldset>
                                            <label for="disposition">Status:</label>
                                            <div class="radio">
                                                <label for="disposition_unknown"><input type="radio" name="disposition" id="disposition_unknown" value="unknown" required <% if (disposition === 'unknown') { %> checked="checked" <% }  %> >Pending Approval</label>
                                            </div>
                                            <div class="radio">
                                                <label for="disposition_approved"><input type="radio" name="disposition" id="disposition_approved" value="approved" required <% if (disposition === 'approved') { %> checked="checked" <% }  %> >Approved</label>
                                            </div>
                                            <div class="radio">
                                                <label for="disposition_rejected"><input type="radio" name="disposition" id="disposition_rejected" value="rejected" required <% if (disposition === 'rejected') { %> checked="checked" <% }  %> >Rejected</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                </form>
                            </div>
                        </div>
                        <% if (requests.length > 0) {  var numReqs = requests.length; %>
                            <div class="row">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <% for(var i=0; i < numReqs; i++) { var request = requests[i];  %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading<%=i%>">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseElem<%=i%>" aria-controls="collapse<%=i%>"
                                                        aria-expanded=<% if (numReqs===1 ) { %>"true"<%} else {%>"false"<%}%> >
                                           <%= request.user_name ?  request.user_name : request.user_dn %> | <%=request.requested_app%> | <%=request.request_id%></a>
                                                </h4>
                                            </div>
                                            <div id="collapseElem<%=i%>" class="panel-collapse collapse <% if (numReqs === 1) { %>in<%}%>" role="tabpanel" aria-labelledby="heading<%=i%>">
                                                <div class="panel-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Access Request Information</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Request Status</td>
                                                                <td>
                                                                    <%=request.approval === 'unknown' ? 'Pending Approval' : request.approval.toUpperCase()%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Request ID</td>
                                                                <td>
                                                                    <% if (request.request_id) {%>
                                                                        <%=request.request_id%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>User Name</td>
                                                                <td>
                                                                    <% if (request.user_name) {%>
                                                                        <%=request.user_name%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td>
                                                                    <% if (request.email) {%>
                                                                        <%=request.email%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Requested Application</td>
                                                                <td>
                                                                    <% if (request.requested_app) {%>
                                                                        <%=request.requested_app%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>User DN</td>
                                                                <td>
                                                                    <% if (request.user_dn) {%>
                                                                        <%=request.user_dn%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Requested Access Level</td>
                                                                <td>
                                                                    <% if (request.requested_access_level) {%>
                                                                        <%=request.requested_access_level%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>User Justification</td>
                                                                <td>
                                                                    <% if (request.justification) {%>
                                                                        <%=request.justification%>
                                                                            <%}%>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <%if (request.approval === 'unknown') { %>
                                                        <p>
                                                            <form action="/requests/request/<%=request.request_id%>/approve" method="post" data-toggle="validator">
                                                                <div class="form-group">
                                                                    <label for="app">Select approved App:</label>
                                                                    <select class="form-control app_selector" id="app_<%=request.request_id%>" name="app_<%=request.request_id%>" data-error="Select the app which was approved">
                                                            <option value=""></option>
                                                            <% for (var j=0; j<apps.length; j++) { var app = apps[j]; %>
                                                            <option value="<%=app._id%>" 
                                                                <% if (app.name_lower === request.requested_app.toLowerCase()) { %>
                                                                selected="selected"
                                                                
                                                                <% } %>
                                                                
                                                                ><%=app.name%></option>
                                                            <% } %>
                                                        </select>
                                                                    <div class="help-block with-errors"></div>
                                                                </div>
                                                                <div class="form-group" id="accLevels_<%=request.request_id%>" name="accLevels_<%=request.request_id%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="notes">Notes</label>
                                                                    <textarea class="form-control" rows="12" id="notes" name="notes"></textarea>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary" name="submit" value="Approve">Approve</button>
                                                                <button type="submit" class="btn btn-danger" name="submit" value="Reject">Reject</button>
                                                            </form>
                                                        </p>
                                                        <% } else {  %>
                                                            <% if (request.approval === 'approved') { %>
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="40%">Approved Resources</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Application</td>
                                                                            <td>
                                                                                <%=request.approved_resource.app_name%>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Access Roles</td>
                                                                            <td>
                                                                                <%= request.approved_resource.access_level.join(', ') %>
                                                                            </td>
                                                                        </tr>
                                                                        <% var groups = [].concat.apply([], request.approved_resource.groups); %>
                                                                            <tr>
                                                                                <td>Groups</td>
                                                                                <td>
                                                                                    <%=groups[0]%>
                                                                                </td>
                                                                            </tr>
                                                                            <% for (var g=1; g < groups.length; g++) { %>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                                        <%=groups[g]%>
                                                                                    </td>
                                                                                </tr>
                                                                                <%}%>
                                                                    </tbody>
                                                                </table>
                                                                <% } %>
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="40%">Admin Section</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Admin Notes</td>
                                                                                <td>
                                                                                    <% if (request.notes) { %>
                                                                                        <%=request.notes%>
                                                                                            <% } %>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                            <%}%>
            </div>
        </div>
    </div>
    <script>
        $('.app_selector').change(function () {
            var appId = $(this).val();
            var requestId = $(this).attr('id').split('_')[1];
            var rolesLabel = '#accLevels_' + requestId;

            $(rolesLabel).empty();
            if (appId) {
                $.ajax({
                    url: location.protocol + '//' + location.host + '/apps/app/' + appId + '/roles',
                    success: function (results) {
                        var str = '<fieldset>';
                        str += '<label>Access level:</label>';
                        $.each(results, function () {
                            str += '<div class="checkbox">';
                            str +=
                                '<label for="read_access_checkbox" class="form-check-label"><input class="form-check-input" type="checkbox" name="acclevel_' + requestId + '[]" id="' +
                                this['role_id'] + '" value="' + this['role_id'] + '">' +
                                this['role_name'] + '</label>';
                            str += '</div>';
                        });
                        str += '<div class="help-block with-errors"></div>';
                        str += '</fieldset>';
                        $(rolesLabel).append(str);
                    }
                });
            }
        });
        $(function () {
            if ($('#app').length) {
                $('#app').change();
            }
        });
    </script>
</body>

</html>