<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>NCI Registration Portal</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-validator/dist/validator.js"></script>
    <script src="/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container-fluid">
        <div class="row top-20">
            <div class="col-sm-2">
                <h3>ADMIN PORTAL</h3>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <a href="/">
                    <img class="img-responsive" src="/images/nci-logo-full.svg" alt="National Cancer Institute"></a>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h3>ADMIN PORTAL</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 side-panel">
                Pending Approval:
                <%=stats.pendingApprovalCount%>
            </div>
            <div class="col-sm-8 main-content">
                <div class="row">
                    <div>
                        <form class="form-inline" action="/requests/search" method="post" data-toggle="validator">
                            <div class="form-group">
                                <label for="query">Request Search</label>
                                <input type="text" class="form-control" id="query" name="query">
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label for="disposition">Status:</label>
                                    <div class="radio">
                                        <label for="disposition_unknown"><input type="radio" name="disposition" id="disposition_unknown" value="unknown" required <% if (disposition === 'unknown') { %> checked="checked" <% }  %> >Pending Approval</label>
                                    </div>
                                    <div class="radio">
                                        <label for="disposition_approved"><input type="radio" name="disposition" id="disposition_approved" value="approved" required <% if (disposition === 'approved') { %> checked="checked" <% }  %> >Approved</label>
                                    </div>
                                    <div class="radio">
                                        <label for="disposition_rejected"><input type="radio" name="disposition" id="disposition_rejected" value="rejected" required <% if (disposition === 'rejected') { %> checked="checked" <% }  %> >Rejected</label>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </div>
                </div>
                <% if (requests.length > 0) {  var numReqs = requests.length; %>
                    <div class="row">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <% for(var i=0; i < numReqs; i++) { var request = requests[i];  %>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading<%=i%>">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseElem<%=i%>" aria-controls="collapse<%=i%>"
                                                aria-expanded=<% if (numReqs===1 ) { %>"true"<%} else {%>"false"<%}%> >
                                           <%= request.display_name ?  request.display_name : request.user_dn %> | <%=request.requested_app%> | <%=request.request_id%></a>
                                        </h4>
                                    </div>
                                    <div id="collapseElem<%=i%>" class="panel-collapse collapse <% if (numReqs === 1) { %>in<%}%>" role="tabpanel" aria-labelledby="heading<%=i%>">
                                        <div class="panel-body">
                                            <p>Request Status:
                                                <%=request.approval === 'unknown' ? 'Pending Approval' : request.approval.toUpperCase()%>
                                            </p>
                                            <p>Request ID:
                                                <% if (request.request_id) {%>
                                                    <%=request.request_id%>
                                                        <%}%>
                                            </p>
                                            <p>User Display Name:
                                                <% if (request.display_name) {%>
                                                    <%=request.display_name%>
                                                        <%}%>
                                            </p>
                                            <p>Requested application:
                                                <% if (request.requested_app) {%>
                                                    <%=request.requested_app%>
                                                        <%}%>
                                            </p>
                                            <p>User DN:
                                                <% if (request.user_dn) {%>
                                                    <%=request.user_dn%>
                                                        <%}%>
                                            </p>
                                            <p>Requested Access Level:
                                                <% if (request.requested_access_level) {%>
                                                    <%=request.requested_access_level%>
                                                        <%}%>
                                            </p>
                                            <p>User Justification:
                                                <% if (request.justification) {%>
                                                    <%=request.justification%>
                                                        <%}%>
                                            </p>
                                            <%if (request.approval === 'unknown') { %>
                                                <p>
                                                    <form action="/requests/request/<%=request.request_id%>/approve" method="post" data-toggle="validator">
                                                        <div class="form-group">
                                                            <label for="app">Select approved App:</label>
                                                            <select class="form-control" id="app" name="app" data-error="Select the app which was approved" required>
                                                            <option value=""></option>
                                                            <% for (var j=0; j<apps.length; j++) { var app = apps[j]; %>
                                                            <option value="<%=app._id%>" 
                                                                <% if (app.name_lower === request.requested_app.toLowerCase()) { %>
                                                                selected="selected"
                                                                
                                                                <% } %>
                                                                
                                                                ><%=app.name%></option>
                                                            <% } %>
                                                        </select>
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <fieldset>
                                                                <label>Access level:</label>
                                                                <div class="checkbox">
                                                                    <label for="read_access_checkbox" class="form-check-label"><input class="form-check-input" type="checkbox" name="acclevel[]" id="read_access_checkbox" value="read_groups">READ</label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label for="write_access_checkbox" class="form-check-label"><input class="form-check-input" type="checkbox" name="acclevel[]" id="write_access_checkbox" value="write_groups">READ/WRITE</label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label for="admin_access_checkbox" class="form-check-label"><input class="form-check-input" type="checkbox" name="acclevel[]" id="admin_access_checkbox" value="admin_groups">ADMIN</label>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="notes">Notes</label>
                                                            <textarea class="form-control" rows="12" id="notes" name="notes"></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Approve</button>
                                                        <a class="btn btn-danger" href="/requests/request/<%=request.request_id%>/reject" role="button">Reject</a>
                                                    </form>
                                                </p>
                                                <% } else if (request.approval === 'approved') { %>
                                                    <p>
                                                        Approved Resources:
                                                    </p>
                                                    <p>
                                                        <ul>
                                                            <li>Application:
                                                                <%=request.approved_resource.app_name%>
                                                            </li>
                                                            <li>
                                                                Access Roles:
                                                                <%= request.approved_resource.access_level.join() %>
                                                            </li>
                                                            <li>
                                                                Groups:
                                                                <%=[].concat.apply([], request.approved_resource.groups).join(' ### ') %>
                                                            </li>
                                                        </ul>
                                                    </p>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
    </div>
</body>

</html>