<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>NCI Registration Portal</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap-validator/dist/validator.js"></script>
    <script src="/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container-fluid">
        <div class="row top-20">
            <div class="col-sm-2">
                <h3>ADMIN PORTAL</h3>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <a href="/">
                    <img class="img-responsive" src="/images/nci-logo-full.svg" alt="National Cancer Institute"></a>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h3>ADMIN PORTAL</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 side-panel">
                Total Users:
                <%=stats.totalUsers%> <br> External:
                    <%=stats.externalUserCount%> <br> Registered:
                        <%=stats.selfRegisteredCount%> <br> Processed:
                            <%=stats.processedCount%> <br> Pending user_dn:
                                <%=stats.pendingCount%> <br> Pending manual resolution:
                                    <%=stats.pendingManualCount%>
            </div>
            <div class="col-sm-8 main-content">
                <% if (typeof alert !== 'undefined' && alert !== null) { %>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="alert <%=alert.severity_class%> alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                                <strong><%=alert.message%></strong>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-inline" action="/users/search" method="post" data-toggle="validator">
                                    <div class="form-group">
                                        <label class="sr-only" for="searchstr">Search</label>
                                        <input type="text" class="form-control" id="searchstr" name="searchstr" placeholder="CN or email or name, etc.">
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                    <a class="btn btn-default" href="/users/pending" role="button">Pending</a>
                                </form>
                            </div>
                        </div>
                        <% if (users.length > 0) {  var numUsers = users.length; %>
                            <div class="row">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <% for(var i=0; i < numUsers; i++) { var user = users[i];  %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading<%=i%>">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseElem<%=i%>" aria-controls="collapse<%=i%>"
                                                        aria-expanded=<% if (numUsers===1 ) { %>"true"<%} else {%>"false"<%}%> >
                                            <%=user.fullName ? user.fullName : user.extracted_dn_username%>
                                        </a>
                                                </h4>
                                            </div>
                                            <div id="collapseElem<%=i%>" class="panel-collapse collapse <% if (numUsers === 1) { %>in<%}%>" role="tabpanel" aria-labelledby="heading<%=i%>">
                                                <div class="panel-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">LDAP Attributes</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Entrustuser</td>
                                                                <td>
                                                                    <%=user.entrustuser%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>DN</td>
                                                                <td>
                                                                    <%=user.dn%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Extracrted username (from DN)</td>
                                                                <td>
                                                                    <%=user.extracted_dn_username%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    nciNihIC
                                                                </td>
                                                                <td>
                                                                    <%=user.nciNihIC%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>nciNihUID</td>
                                                                <td>
                                                                    <%=user.nciNihUID%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>workforceID</td>
                                                                <td>
                                                                    <%=user.workforceID%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>mail <button type="button" class="btn btn-primary btn-xs"
                                                                        data-toggle="modal" data-target="#changeEmailModal" data-user-id="<%=user._id%>"
                                                                        data-mail="<%=user.mail %>">Change</button></td>
                                                                <td>
                                                                    <%=user.mail%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Given Name <button type="button" class="btn btn-primary btn-xs"
                                                                        data-toggle="modal" data-target="#changeSinglePropertyModal"
                                                                        data-user-id="<%=user._id%>" data-current-value="<%=user.givenName %>"
                                                                        data-action-property="givenName" data-property-title="Change of Given Name"
                                                                        data-property-label="Given Name">Change</button></td>
                                                                <td>
                                                                    <%=user.givenName%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Full Name <button type="button" class="btn btn-primary btn-xs"
                                                                        data-toggle="modal" data-target="#changeSinglePropertyModal"
                                                                        data-user-id="<%=user._id%>" data-current-value="<%=user.fullName %>"
                                                                        data-action-property="fullName" data-property-title="Change of Full Name"
                                                                        data-property-label="Full Name">Change</button></td>
                                                                <td>
                                                                    <%=user.fullName%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Telephone Number <button type="button" class="btn btn-primary btn-xs"
                                                                        data-toggle="modal" data-target="#changeSinglePropertyModal"
                                                                        data-user-id="<%=user._id%>" data-current-value="<%=user.telephoneNumber %>"
                                                                        data-action-property="telephoneNumber" data-property-title="Change of Telephone Number"
                                                                        data-property-label="Telephone Number">Change</button></td>
                                                                <td>
                                                                    <%=user.telephoneNumber%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>SN <button type="button" class="btn btn-primary btn-xs"
                                                                        data-toggle="modal" data-target="#changeSinglePropertyModal"
                                                                        data-user-id="<%=user._id%>" data-current-value="<%=user.sn %>"
                                                                        data-action-property="sn" data-property-title="Change of SN"
                                                                        data-property-label="SN">Change</button></td>
                                                                <td>
                                                                    <%=user.sn%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>ObjectClass</td>
                                                                <td>
                                                                    <ul>
                                                                        <% if (user.objectClass) {%>
                                                                            <% for(var ob=0; ob<user.objectClass.length; ob++) {%>
                                                                                <li>
                                                                                    <%=user.objectClass[ob]%>
                                                                                </li>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Groups
                                                                </td>
                                                                <td>
                                                                    <ul>
                                                                        <% if (user.groupMembership) {%>
                                                                            <% for(var g=0; g<user.groupMembership.length; g++) {%>
                                                                                <li>
                                                                                    <%=user.groupMembership[g]%>
                                                                                </li>
                                                                                <%}%>
                                                                                    <%}%>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>CN</td>
                                                                <td>
                                                                    <%=user.cn%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>UID</td>
                                                                <td>
                                                                    <%=user.uid%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>uidnumber</td>
                                                                <td>
                                                                    <%=user.uidnumber%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>gidnumber</td>
                                                                <td>
                                                                    <%=user.gidnumber%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>homedirectory</td>
                                                                <td>
                                                                    <%=user.homedirectory%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>loginshell</td>
                                                                <td>
                                                                    <%=user.loginshell%>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>token</td>
                                                                <td>
                                                                    <% if (user.uuid) {%>
                                                                        <%=user.uuid.uuid%> ### expires
                                                                            <%= new Date(user.uuid.expires)%>
                                                                                <% } %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mapping
                                                                    <% if (user.itrustinfo) {%>
                                                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#iTrustModal" data-user-id="<%=user._id%>"
                                                                            data-dn="<%=user.itrustinfo? user.itrustinfo.sm_userdn : '' %>">Override</button>
                                                                        <%} else { %>
                                                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#iTrustModal" data-user-id="<%=user._id%>">Set Mapping</button>
                                                                            <% } %>
                                                                </td>
                                                                <td>
                                                                    <% if (user.itrustinfo) {%>
                                                                        <ul>
                                                                            <li>
                                                                                <b>sm_userdn:</b>
                                                                                <%=user.itrustinfo.sm_userdn%>
                                                                            </li>
                                                                            <li>
                                                                                <b>processed:</b>
                                                                                <%=user.itrustinfo.processed%>
                                                                            </li>
                                                                            <% if (user.itrustinfo.override) { %>
                                                                                <b>override:</b>
                                                                                <%=user.itrustinfo.override%>
                                                                                    <%}%>
                                                                        </ul>
                                                                        <%} %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    SSH Public Key
                                                                </td>
                                                                <td>
                                                                    <% if (user.pubkeyinfo) {%>
                                                                        <ul>
                                                                            <li>
                                                                                <b>text:</b>
                                                                                <%=user.pubkeyinfo.key%>
                                                                            </li>
                                                                            <li>
                                                                                <b>processed:</b>
                                                                                <%=user.pubkeyinfo.processed%>
                                                                            </li>
                                                                        </ul>
                                                                        <% } %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    updated
                                                                </td>
                                                                <td>
                                                                    <%=user.updated%>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Logs</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (user.logs) {%>
                                                                <% for(var l=0; l <user.logs.length; l++) {%>
                                                                    <tr>
                                                                        <td>
                                                                            <%=user.logs[l]%>
                                                                        </td>
                                                                    </tr>
                                                                    <% } } %>
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                            <%}%>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="iTrustModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Set/Override user_dn
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="user_dn_form" id="user_dn_form" action="" method="post" data-toggle="validator">
                        <div class="form-group">
                            <label for="sm_userdn" class="form-control-label">user_dn:</label>
                            <input type="text" class="form-control" name="sm_userdn" id="sm_userdn" data-error="sm_userdn is required." required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <p>Caution: submitting the form will map the user account to the submitted sm_userdn.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Modal -->
    <div class="modal fade" id="changeEmailModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Email
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="change_email_form" id="change_email_form" action="" method="post" data-toggle="validator">
                        <div class="form-group">
                            <label for="mail" class="form-control-label">user_dn:</label>
                            <input type="text" class="form-control" name="mail" id="mail" data-error="email is required." required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <p>Caution: submitting the form will change the user's email on file.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Modal -->
    <div class="modal fade" id="changeSinglePropertyModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="propertyTitle">
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="change_single_value_form" id="change_single_value_form" action="" method="post" data-toggle="validator">
                        <div class="form-group">
                            <label for="propertyValue" class="form-control-label" id="propertyLabel"></label>
                            <input type="text" class="form-control" name="propertyValue" id="propertyValue" data-error="value is required." required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <p>Caution: submitting the form will change the user's <strong id="propertyName"></strong> on file.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <script>
        $('#iTrustModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var currentDn = button.data('dn');
            var userId = button.data('user-id');
            var modal = $(this);
            modal.find('.modal-body #sm_userdn').val(currentDn);
            modal.find('.modal-body #user_dn_form').attr('action', '/users/user/' + userId + '/setItrustInfo');
        });
        $('#changeEmailModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var currentEmail = button.data('mail');
            var userId = button.data('user-id');
            var modal = $(this);
            modal.find('.modal-body #mail').val(currentEmail);
            modal.find('.modal-body #change_email_form').attr('action', '/users/user/' + userId + '/setEmail');
        });
        $('#changeSinglePropertyModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var currentValue = button.data('current-value');
            var userId = button.data('user-id');
            var actionProperty = button.data('action-property');
            var title = button.data('property-title');
            var label = button.data('property-label');
            var modal = $(this);
            modal.find('.modal-content #propertyTitle').text(title);
            modal.find('.modal-body #propertyLabel').text(label);
            modal.find('.modal-body #propertyName').text(label);
            modal.find('.modal-body #propertyValue').val(currentValue);
            modal.find('.modal-body #change_single_value_form').attr('action', '/users/user/' + userId + '/setProperty/' + actionProperty);
        });
    </script>
</body>

</html>